/* GLOBAL */
* {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: red;
}

blockquote, body, figure, ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
}

html {
    background: black;
    color: white;
}

li {
    list-style: none;
}

figcaption, p {
    font-size: .95rem;
    line-height: 2rem;
}

section {
    margin: 4rem 0 0 0;
}

/* UTILITY */
.bold {
    font-weight: 600;
}

.container {
    margin: 0 auto;
    max-width: 725px;
    padding: 0 2rem;
}

.no-wrap {
    white-space: nowrap;
}

/* HEADER */
.header {
    background: black;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.header.open-menu  {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
}

@media (min-width: 550px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        min-height: unset;
        position: static;
    }
}

.header-link {
    display: none;
    text-align: center;
    text-transform: uppercase;
}

.open-menu .header-link {
    display: block;
    font-size: 2rem; 
    margin: 1.25rem 0;
}

@media (min-width: 550px) {
    .header-link {
        display: inline-block;
        font-size: 1rem;
        margin: 0;
    }
}

.header-links-wrapper {
    margin: 0 auto;
    max-width: 725px;
    text-align: center;
    width: 100%;
}

.open-menu .header-links-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 550px) {
    .header-links-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 75%;
    }
}

.header-logo {
    display: grid;
    justify-self: center;
    transform: translateX(4px);
}

.header-logo img {
    grid-column: 1;
    grid-row: 1;
    height: 5.25rem;
}

.header-logo:hover .logo-white {
    opacity: 0;
}

.header-logo:hover .logo-red {
    opacity: 1;
}

.logo-red {
    opacity: 0;
}

.header-logo-w-burger {
    align-items: center;
    display: grid;
    grid-template-columns: 100% auto;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.open-menu .header-logo-w-burger {
    position: fixed;
    top: 0;
}

@media (min-width: 550px) {
    .header-logo-w-burger {
        position: unset;
        width: unset;
    }
}

.hamburger {
    transform: translateX(-100%);
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover svg{
    stroke: red;
}

.header-svg {
    stroke: white;
}

@media (min-width: 550px) {
    .header-svg {
        height: 0;
        position: absolute;
        width: 0;
    }
}

.closed-svg {
    display: none;
}

.open-menu .closed-svg {
    display: inline-block;
}

.open-menu .hamburger-svg {
    display: none;
}

/* NEW ALBUM SECTION */

.new-album-section {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
}

.new-album-section img {
    height: auto;
    width: 100%;
}

@media (min-width: 550px) {
    .new-album-section {
        grid-template-columns: 1fr 1fr;
    }
}

.new-album-text-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-album-out-now {
    margin: 0 0 1rem 0;
}

.order-link {
    border: 2px solid white;
    font-weight: 600;
    margin: 1.5rem 0 0 0;
    padding: 1rem;
    text-transform: uppercase;
    width: max-content;
}

.order-link:hover {
    background-color: red;
    border: 2px solid red;
    color: black;
    font-weight: 800;
}

/* VIDEO SECTION */
.video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.video-wrapper {
    height: 0;
    margin: 4rem 0 0 0;
    padding-bottom: 56.25%;
    position: relative;
}